
.DS_Store

fse2013/data/rq2/splitByAnsweringActivity/boxplots/.svn/entries

fse2013/data/rq2/splitByAnsweringActivity/boxplots/.svn/all-wcprops

fse2013/data/rq2/splitByAnsweringActivity/.svn/entries

fse2013/data/rq2/splitByAnsweringActivity/.svn/all-wcprops

*.svn-base

fse2013/data/rq2/splitByAnsweringActivity/latencies/.svn/all-wcprops

fse2013/data/rq2/splitByAnsweringActivity/latencies/.svn/entries

fse2013/data/rq2/splitByAskingActivity/.svn/all-wcprops

fse2013/data/rq2/splitByAskingActivity/.svn/entries

fse2013/data/rq2/splitByAskingActivity/boxplots/.svn/all-wcprops

fse2013/data/rq2/splitByAskingActivity/boxplots/.svn/entries

fse2013/data/rq2/splitByAskingActivity/latencies/.svn/all-wcprops

fse2013/data/rq2/splitByAskingActivity/latencies/.svn/entries

fse2013/data/rq2/splitByCommitActivity/.svn/all-wcprops

fse2013/data/rq2/splitByCommitActivity/.svn/entries

fse2013/data/rq2/splitByCommitActivity/boxplots/.svn/all-wcprops

fse2013/data/rq2/splitByCommitActivity/boxplots/.svn/entries

fse2013/data/rq2/splitByCommitActivity/latencies/.svn/all-wcprops

fse2013/data/rq2/splitByCommitActivity/latencies/.svn/entries

fse2013/data/rq2/splitByGithubPeriod/boxplots/.svn/all-wcprops

fse2013/data/rq2/splitByGithubPeriod/boxplots/.svn/entries

fse2013/data/rq2/splitByGithubPeriod/.svn/entries

fse2013/data/rq2/splitByGithubPeriod/.svn/all-wcprops

fse2013/data/rq2/splitByGithubPeriod/latencies/.svn/all-wcprops

fse2013/data/rq2/splitByGithubPeriod/latencies/.svn/entries

fse2013/tools/r/.Rhistory
